@import '../../scss_partian/config';

a:hover {
  text-decoration: none;
}

.documents {
  &__header {
    text-align: center;

    font: {
      size: 36px;
      weight: bold;
    }

    margin-bottom: 40px;

    position: relative;
  }

  &__add-doc-btn {
    width: 300px;
    margin: 0 auto;
    display: block;

    &_container {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
