@import '../../scss_partian/config';

body {
  line-height: normal;
}

.center-screen-block__cell {
  vertical-align: top;
  padding-top: 100px;
}

.my-office {
  width: $containerWidth;
  margin: 0 auto;

  &__container {
    width: 100%;
    height: $mainHeightScreen;

    background-color: $backgroundColor;
  }

  &__photo {
    width: 100%;
    height: 100%;

    border-radius: 5px;

    &_container {
      width: 250px;
      height: 250px;

      padding: 15px;
      display: inline-block;

      float: left;

      line-height: 0;

      background-color: $formColor;

      @include put_border(rgba(0, 0, 0, .2));
    }
  }

  &__data {
    width: 400px;
    height: 250px;

    margin-left: 15px;
    padding: 15px;

    color: $lightFontColor;
    background-color: $formColor;

    text-align: left;

    font-size: $fontSize;

    float: left;

    @include put_border(rgba(0, 0, 0, .2));

    &_email {
      font-weight: bold;
      margin-bottom: 20px;
    }

    span {
      width: 200px;
      display: block;
      float: left;
    }
  }

  &__btn-update {

    &_container {
      width: 665px;

      margin-top: 15px;
      padding: 5px 15px 15px;

      float: left;

      color: $lightFontColor;
      background-color: $formColor;

      font-size: $fontSize;

      @include put_border(rgba(0, 0, 0, .2));
    }

    &_user-data, &_user-password {
      width: 200px;
      margin-left: 50px;
    }

    &_user-password {
      background-color: $formColor;
      border: 3px solid $mainColor;
      color: $mainColor;

      &:hover {
        background-color: $mainColor;
      }
    }
  }

}
