@import '../../scss_partian/config';
@import './keyframes';

.document {
  width: 100%;
  padding: 20px 20px;

  &__icon {
    font-size: 20px;
    cursor: pointer;

    @include put_transition();

    color: $headerColor;

    &:hover {
      color: $mainColor;
    }

    &_ok, &_ok:hover {
      color: $greenColor;
    }

    &_rejected, &_rejected:hover {
      color: $redColor;
    }

    &_garbage {
      &:hover {
        color: $redColor;
      }
    }
  }

  &__container {
    @include zero_indent();
    @include put_transition();

    margin-left: 120px;

    position: relative;
    z-index: 1;
    clear: both;
    display: block;
    margin-top: 15px;
  }

  &__icon {
    margin-right: 20px;

    &_arrow {
      font-size: 16px;
    }
  }

  &__caption {
    @include zero_indent();
    width: 600px;
    float: left;
    cursor: pointer;

    font: {
      size: 20px;
      weight: bold;
    }
  }

  &__more {
    clear: both;

    margin: 20px 0 0 35px;

    display: none;

    span {
      font-size: 16px;
      color: $mainColor;
      width: 230px;
      margin-right: 10px;
      display: inline-block;
    }
  }

}
