@import "../../scss_partian/config";

.form-section {
  display: inline-block;
  clear: both;
  width: 400px;
  background-color: $formColor;
  padding: 25px 50px;
  border-top: 5px solid $mainColor;

  h3 {
    text-align: left;
    margin-bottom: 20px;
    color: $mainColor;
  }

  a {
    font: {
      size: 14px;
      style: italic;
    }

    margin-top: 5px;

    :first-child {
      margin-top: 15px;
    }

    color: $mainColor;
    text-align: left;
    display: block;
    clear: both;

    @include put_transition();

    i {
      margin-left: 10px;
    }

    &:hover {
      color: darken($mainColor, 10%);
      text-decoration: none;
    }
    &:focus {
      color: $mainColor;
    }
    &:visited {
      color: $mainColor;
    }
  }
}


