$mainColor: #00b5ff;

.form-container {
  width: 300px;
  margin: 0 auto;

  h1 {
    color: $mainColor;
    text-align: center;
  }

  form {
    text-align: center;

    .input-animated {
      width: 100%;
      margin-top: 30px;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, .4);
      font-size: 18px;

      &__container {
        width: 100%;
        position: relative;

        transition: all .5s ease-in-out;
      }

      &__placeholder {
        color: $mainColor;
        width: 100%;
        text-align: left;
        position: absolute;
        bottom: 2px;
        font-size: 18px;
        display: none;

        transition: all .5s ease-in-out;

        -webkit-transform: translateY(1);
        -moz-transform: translateY(1);
        -ms-transform: translateY(1);
        -o-transform: translateY(1);
        transform: translateY(1);
      }

      &__underline {
        background-color: $mainColor;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;

        transition: all .5s ease-in-out;

        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
      }

      &:focus {
         outline: none;
      }

      &:focus + div {
        display: block;

        margin-bottom: 25px;

        font-style: italic;
        font-size: 14px;
      }

      &:focus + div + div {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
    }

    button {
      margin-top: 30px;
      width: 100%;
      padding: 10px 20px;
      border: 3px solid $mainColor;
      background-color: #fff;
      font-size: 18px;
      border-radius: 5px;

      transition: all .5s ease-in-out;

      &:hover {
        color: #fff;
        background-color: $mainColor;
        box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .4);
      }

      &:focus {
        outline: none;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1) inset;
      }
    }
  }
}
