@import "../../scss_partian/config";

.center-screen-block {
  &__table {
    height: $mainHeightScreen;
    width: 100%;

    display: table;

    background-color: $backgroundColor;
    background-size: cover;
  }

  &__row {
    display: table-row;
  }

  &__cell {
    display: table-cell;

    text-align: center;
    vertical-align: middle;
  }

  &__center {
    display: inline-block;
    width: 50%;
  }
}
