@import '../../scss_partian/config';
@import './keyframes';
@import './mixins';

.sidebar {
  margin: 0;
  padding-left: 30px;

  position: fixed;
  top: $headerHeight;
  left: -($widthSideBar - 60px);
  z-index: 25;

  width: $widthSideBar;
  height: $mainHeightScreen;

  box-shadow: 2px 2px 2px 2px $borderColor;
  border-right: 1px solid $borderColor;
  background-color: $formColor;

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 21;
  }

  &__hamburger {
    @include styling_icons(20px, 20px);
  }

  &__caption {
    width: 100%;

    font: {
      size: 22px;
      weight: bold;
    }
    color: $mainColor;

    position: relative;
    left: -($widthSideBar - 60px);

    @include put_transition();
  }

  .input-animated {
    &__container {
      width: 80%;
      top: 10px;
    }
  }

  &__search {
    @include styling_icons(20px, 20px);
  }

  &__filter {
    @include styling_icons(5px, 20px);
  }
}
