.sidebar {
  &__add {
    &_data {
      padding-left: 0;
      margin-left: 0;
    }
  }

  &__list {
    &_element {
      margin-left: 0;
    }
  }
}

.add-button {
  &__container {
    position: relative;
  }

  &__spinner {
    width: 20px;
    height: 20px;

    color: #53B73F;

    position: absolute;
    top: 20px;
    left: -35px;

    display: none;
  }
}

.admin-buttons__container {
  width: 500px;
  margin: 20px auto;
}
